## **EDA de World Happiness — Exploración y hallazgos iniciales**

**Autor/a:** Javiera González Reyes  
**Curso:** DataLab / Python para Data Science  
**Fecha:** [12-09-2025]  
**Fuente de datos:** Kaggle — [Enlace al dataset]()

### **Resumen**

Este cuaderno presenta un **Análisis Exploratorio de Datos (EDA)** sobre el conjunto **[World Happiness Reporte 2015-2024]**, con el objetivo de comprender su estructura, calidad y patrones relevantes para una toma de decisiones informada. Se describe el contexto del problema, se identifican variables clave (numéricas y categóricas), y se exponen hallazgos descriptivos preliminares mediante estadísticas, visualizaciones y pruebas básicas de supuestos.

El trabajo enfatiza la **limpieza de datos** (nulos, outliers, duplicados), la **exploración multivariada** (correlaciones, relaciones entre variables) y, cuando corresponde, la **dimensión temporal/geográfica**. El resultado esperado es un conjunto de insights accionables y recomendaciones para etapas posteriores (modelado o decisiones de negocio), acompañado de gráficos claros y una narrativa que comunique las conclusiones de forma rigurosa y accesible.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [10]:
df = pd.read_csv("data/world_happiness_2020.csv")

In [ ]:

df.head()

                                                                            Ranking;Country;Regional indicator;Happiness score;GDP per capita;Social support;Healthy life expectancy;Freedom to make life choices;Generosity;Perceptions of corruption;Year
1;Switzerland;Western Europe;7   58700;8 26132;0 96240;73;0 99379;0 37289;0                                         23941;2015
2;Iceland;Western Europe;7       56100;7 70416;1 00000;73;0 93884;0 54819;0                                         74371;2015
3;Denmark;Western Europe;7       52700;7 84114;0 97030;70;0 96962;0 42894;0                                         12382;2015
4;Norway;Western Europe;7        52200;8 63100;0 94917;71;1 00000;0 43598;0                                         33860;2015
5;Canada;North America and ANZ;7 42700;7 84595;0 94322;71;0 94511;0 57560;0                                         40285;2015

In [11]:
print("Filas:", df.shape[0])
print("Columnas:", df.shape[1])

Filas: 152
Columnas: 1